@page "/"
@inherits LayoutComponentBase

<div class="container">
    <div class="input-group">
        <input class="form-control" 
               type="text"
               autocomplete="off" />
    </div>
</div>